body {
	background: $color-bg-main;
}

h1,h2,h3,h4,h5,h6 {
	color: $color-heading-main;
}
a {
	color: $color-accent-main;
}
.posts {
	justify-content: center;
	align-items: flex-start;
}
.post {
	padding: $gutter;
}
.card {
	margin: $gutter;
	width: 100%;
		@media screen and (min-width: $br-md) {
		flex: 1 0 per-line(2);
	}
}
.post-categories {
	display: inline;
	padding: 0;
	li {
		list-style-type: none;
		display: inline;
	}
}
.post-img {
	max-width: 100%;
	img {
		max-width: 100%;
	}
}