body {
	background: $color-bg-main;
}
#wrap-main {
	max-width: 1200px;
}

main {
	flex: initial;
}
.content-wrap {
	margin: 0;
	padding: 0;
	display: block;
	@media screen and (min-width: $br-md) {
		display: flex;
	}
}

h1,h2,h3,h4,h5,h6 {
	color: $color-heading-main;
}
a {
	color: $color-accent-main;
}
.posts {
	justify-content: center;
	align-items: flex-start;
	margin: 0 auto;
	padding: 0;
}
.post {
	padding: $gutter;
	margin: $gutter;
}
.card {
	width: 100%;
	padding: $gutter;
		@media screen and (min-width: $br-md) {
		flex: 1 0 per-line(2);
	}
}
.post-categories {
	display: inline;
	padding: 0;
	li {
		list-style-type: none;
		display: inline;
	}
}
.post-img {
	max-width: 100%;
	img {
		max-width: 100%;
	}
}
